<a href="https://colab.research.google.com/github/bhoomikashrivastava2210-oss/Assignment-1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to swap two variables without using a third variable0

In [53]:
a = 22
b = 10
print("Before swap: a =", a, "b =", b)

Before swap: a = 22 b = 10

Take a user’s name and age as input and print a message like
"Hello [Name], you will turn 100 years old in [Year]"

In [54]:
name=("bhoomika")
age=(19)

# Calculate the year when they turn 100
current_year = 2025
year_when_100 = current_year + (100 - age)

# Print the message
print("Hello " + name + ", you will turn 100 years old in " + str(year_when_100) + ".")

Hello bhoomika, you will turn 100 years old in 2106.

Print all the numbers from 1 to 50 that are divisible by both 3 and 50

In [55]:
print("Numbers divisible by both 3 and 5 (1-50):")
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print(i, end=" ")

Numbers divisible by both 3 and 5 (1-50):
15 30 45

Take a string input from the user and check if it’s a palindrome (same forwards and backwards)0

In [56]:
text =("civic").lower().replace(" ", "")
is_palindrome = text == text[::-1]

if is_palindrome:
    print("It's a palindrome!")
else:
    print("It's not a palindrome.")

It's a palindrome!

Write a program to find the second largest number in a list

In [57]:
my_list = [1, 2, 3, 44, 66, 33, 89, 90, 48.17]

# Sort the list in descending order
my_list.sort(reverse=True)

# The second largest number is at index 1 (since lists are 0-indexed)
second_largest = my_list[1]

print("The second largest number is:", second_largest)

The second largest number is: 89

Create a list of all even numbers from 1 to 100 using list comprehension0

In [58]:
even_numbers = [num for num in range(1, 101) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Remove duplicates from a list without using the set() function.

In [59]:
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
new_list = []

for item in my_list:
    if item not in new_list:
        new_list.append(item)

print("Original list:", my_list)
print("List with duplicates removed:", new_list)

Original list: [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List with duplicates removed: [1, 2, 3, 4, 5, 6, 7]

Create a tuple with 5 integers. Calculate and print the sum, maximum, and minimum values0

In [60]:
my_tuple = (10, 5, 20, 15, 25)

# Calculate the sum of the tuple
tuple_sum = sum(my_tuple)

# Find the maximum value in the tuple
tuple_max = max(my_tuple)

# Find the minimum value in the tuple
tuple_min = min(my_tuple)

# Print the results
print("Tuple:", my_tuple)
print("Sum of the tuple:", tuple_sum)
print("Maximum value in the tuple:", tuple_max)
print("Minimum value in the tuple:", tuple_min)

Tuple: (10, 5, 20, 15, 25)
Sum of the tuple: 75
Maximum value in the tuple: 25
Minimum value in the tuple: 5

Convert a tuple into a list, modify the list by adding a new element, and convert it back to a tuple.

In [61]:
my_tuple = (1, 2, 3, 4, 5)
print("Original tuple:", my_tuple)

# Convert the tuple to a list
my_list = list(my_tuple)
print("Converted list:", my_list)

# Add a new element to the list
my_list.append(6)
print("List after adding element:", my_list)

# Convert the list back to a tuple
new_tuple = tuple(my_list)
print("Converted back to tuple:", new_tuple)

Original tuple: (1, 2, 3, 4, 5)
Converted list: [1, 2, 3, 4, 5]
List after adding element: [1, 2, 3, 4, 5, 6]
Converted back to tuple: (1, 2, 3, 4, 5, 6)

Write a program to count the frequency of each word in a given string using a dictionary0

In [62]:
my_string = "this is a test string with a test word"
word_counts = {}

# Split the string into words
words = my_string.split()

# Count the frequency of each word
for word in words:
    word_counts[word] = word_counts.get(word, 0) + 1

# Print the word frequencies
print("Word frequencies:", word_counts)

Word frequencies: {'this': 1, 'is': 1, 'a': 2, 'test': 2, 'string': 1, 'with': 1, 'word': 1}

Create a nested dictionary to store student names and their respective scores in three subjects. Print the
student with the highest total score0

In [63]:
students_scores = {
    "Aarav": {"Math": 85, "Science": 90, "English": 78},
    "Bhavya": {"Math": 92, "Science": 88, "English": 95},
    "Chirag": {"Math": 76, "Science": 85, "English": 80},
    "Divya": {"Math": 89, "Science": 76, "English": 84},
    "Ishita": {"Math": 91, "Science": 94, "English": 90}
}
total_scores = {student: sum(scores.values()) for student, scores in students_scores.items()}
top_student = max(total_scores, key=total_scores.get)
print("The student with the highest total score is:", top_student)
print("Total Score:", total_scores[top_student])

The student with the highest total score is: Bhavya
Total Score: 275

Given a dictionary of employee names and salaries, update the salary of a specific employee based on user
input.

In [64]:
employees = {
    "Aarav": 45000,
    "Bhavya": 52000,
    "Chirag": 48000,
    "Divya": 60000,
    "Ishita": 55000
}
print("Current Employee Salaries:")
for name, salary in employees.items():
    print(f"{name}: Rs. {salary}")
new_salary = 65000
employees["Ishita"] = new_salary

print("Updated Employee Salaries:")
for name, salary in employees.items():
    print(f"{name}: Rs. {salary}")

Current Employee Salaries:
Aarav: Rs. 45000
Bhavya: Rs. 52000
Chirag: Rs. 48000
Divya: Rs. 60000
Ishita: Rs. 55000
Updated Employee Salaries:
Aarav: Rs. 45000
Bhavya: Rs. 52000
Chirag: Rs. 48000
Divya: Rs. 60000
Ishita: Rs. 65000

Set Operations:Write a program to find the union, intersection, and difference of two sets:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [65]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Union
union_set = set1.union(set2)

# Intersection
intersection_set = set1.intersection(set2)

# Difference (set1 - set2)
difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("\nUnion:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set1 - Set2):", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set1 - Set2): {1, 2, 3}